node-red/sse2019-group2_start.json
[{"id":"baf41512.832278","type":"tab","label":"開始画面","disabled":false,"info":""},{"id":"c33928b0.890cc8","type":"comment","z":"baf41512.832278","name":"楽曲選択・開始画面","info":"","x":143.0000228881836,"y":33.00000476837158,"wires":[]},{"id":"2d77609d.f9254","type":"comment","z":"baf41512.832278","name":"小節選択","info":"","x":104.0000228881836,"y":358.0000123977661,"wires":[]},{"id":"16453ff0.ffbca","type":"comment","z":"baf41512.832278","name":"楽曲選択","info":"","x":108.0000228881836,"y":136.00001335144043,"wires":[]},{"id":"ddf2d7cd.a33798","type":"ui_text","z":"baf41512.832278","group":"e8a634bb.ce0198","order":2,"width":"6","height":"1","name":"","label":"演奏する曲を決めよう！","format":"{{msg.payload}}","layout":"row-spread","x":328.00010681152344,"y":177.0000457763672,"wires":[]},{"id":"9cc876af.632e78","type":"ui_text","z":"baf41512.832278","group":"5851697f.a3bbb8","order":2,"width":"0","height":"0","name":"","label":"演奏するパートを選択しよう！","format":"{{msg.payload}}","layout":"row-spread","x":477.00004959106445,"y":403.0000925064087,"wires":[]},{"id":"c73f570c.446e48","type":"ui_text","z":"baf41512.832278","group":"56f497cc.b03028","order":6,"width":"6","height":"3","name":"","label":"演奏する曲のテンポを決めよう！","format":"{{msg.payload}}","layout":"row-spread","x":477.0002136230469,"y":287.99996757507324,"wires":[]},{"id":"ddb4910c.a9863","type":"ui_template","z":"baf41512.832278","group":"5851697f.a3bbb8","name":"(未使用)ラジオボタンで選択","order":1,"width":"0","height":"0","format":"<input type=\"hidden\" name=\"abc\" value=\"10\">\n<table>\n　<tbody>\n　　<tr> <td>part1 </td> <td> <input type=\"radio\" ng-click=\"send({payload:part})\" name=\"part\" value='10' Checked></td> </tr>\n　　<tr> <td>part2 </td> <td> <input type=\"radio\" ng-click=\"send({payload:part})\" name=\"part\" value='20'></td> </tr>\n　　<tr> <td>part3 </td> <td> <input type=\"radio\" ng-click=\"send({payload:part})\" name=\"part\" value='20'></td> </tr>\n　　<tr> <td>part4 </td> <td> <input type=\"radio\" ng-click=\"send({payload:part})\" name=\"part\" value='30'></td> </tr>\n　</tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":172.22221755981445,"y":402.55559730529785,"wires":[["9cc876af.632e78"]]},{"id":"2b5e4e64.7fabd2","type":"ui_ui_control","z":"baf41512.832278","name":"","x":499.6841125488281,"y":545.1389474868774,"wires":[[]]},{"id":"377b7183.ec2fae","type":"template","z":"baf41512.832278","name":"録音画面へ","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"tab\": \"Recording\",\n    \"group\": {\n        \"show\": [\n\n        ]\n    }\n}","output":"json","x":318.6876220703125,"y":545.5625314712524,"wires":[["2b5e4e64.7fabd2"]]},{"id":"4332b0be.ebcfd","type":"ui_button","z":"baf41512.832278","name":"","group":"454d0298.8ca9bc","order":1,"width":0,"height":0,"passthru":true,"label":"演奏開始！","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":122.68405151367188,"y":545.0625314712524,"wires":[["377b7183.ec2fae"]]},{"id":"b5b03b84.3dd0d8","type":"ui_dropdown","z":"baf41512.832278","name":"","label":"","tooltip":"","place":"Select option","group":"e8a634bb.ce0198","order":3,"width":"6","height":"2","passthru":true,"options":[{"label":"かえるのうた","value":1,"type":"num"},{"label":"チューリップ","value":2,"type":"num"},{"label":"ドレミのうた","value":3,"type":"num"},{"label":"どんぐりころころ","value":4,"type":"num"}],"payload":"","topic":"","x":111.09187698364258,"y":177.54608631134033,"wires":[["ddf2d7cd.a33798"]]},{"id":"badae298.f54ab","type":"ui_template","z":"baf41512.832278","group":"e8a634bb.ce0198","name":"(未使用)ラジオボタンで選択","order":4,"width":0,"height":0,"format":"<!--\n<table>\n　<tbody>\n　　<tr> <td>かえるのうた</td> <td> <input ng-click=\"send({payload:music})\" type=\"radio\" name=\"music\" value='1' Checked></td> </tr>\n　　<tr> <td>アマリリス  </td> <td> <input ng-click=\"send({payload:music})\" type=\"radio\" name=\"music\" value='2'></td> </tr>\n　　<tr> <td>その他１    </td> <td> <input ng-click=\"send({payload:music})\" type=\"radio\" name=\"music\" value='3'></td> </tr>\n　　<tr> <td>その他２    </td> <td> <input ng-click=\"send({payload:music})\" type=\"radio\" name=\"music\" value='4'></td> </tr>\n　</tbody>\n</table>\n-->","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":337.00008392333984,"y":134.00004386901855,"wires":[[]]},{"id":"543c30b7.59a03","type":"comment","z":"baf41512.832278","name":"BPM選択","info":"","x":105.00004196166992,"y":244.99996948242188,"wires":[]},{"id":"3601cdb2.98d022","type":"comment","z":"baf41512.832278","name":"録音画面へ","info":"","x":110.00003051757812,"y":494.00001430511475,"wires":[]},{"id":"5451b66d.84a338","type":"ui_slider","z":"baf41512.832278","name":"","label":"","tooltip":"","group":"56f497cc.b03028","order":8,"width":"5","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"200","step":1,"x":229.5660858154297,"y":288.31088066101074,"wires":[["c73f570c.446e48"]],"inputLabels":["100"],"outputLabels":["100"]},{"id":"30c0d6a5.f077aa","type":"ui_template","z":"baf41512.832278","group":"3bc27051.bc171","name":"タイトル","order":1,"width":0,"height":0,"format":"<h1><center>ピアノ演奏上達システム</center></h1>\n<h3><center>たくさん弾いて、じょうずになろう！</center></h3>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":113.66669464111328,"y":71.00000381469727,"wires":[[]]},{"id":"c2bc145b.6b3e18","type":"ui_button","z":"baf41512.832278","name":"","group":"56f497cc.b03028","order":7,"width":"1","height":"1","passthru":false,"label":"BPM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":98.6667709350586,"y":289.00006771087646,"wires":[["5451b66d.84a338"]]},{"id":"e8a634bb.ce0198","type":"ui_group","z":"","name":"楽曲選択","tab":"a0dd37bd.041728","order":2,"disp":false,"width":"6","collapse":false},{"id":"5851697f.a3bbb8","type":"ui_group","z":"","name":"小節選択","tab":"a0dd37bd.041728","order":3,"disp":false,"width":"6","collapse":false},{"id":"56f497cc.b03028","type":"ui_group","z":"","name":"BPM選択","tab":"a0dd37bd.041728","order":4,"disp":false,"width":"6","collapse":false},{"id":"454d0298.8ca9bc","type":"ui_group","z":"","name":"録音画面へ","tab":"a0dd37bd.041728","order":5,"disp":false,"width":"6","collapse":false},{"id":"3bc27051.bc171","type":"ui_group","z":"","name":"タイトル","tab":"a0dd37bd.041728","order":1,"disp":false,"width":"18","collapse":false},{"id":"a0dd37bd.041728","type":"ui_tab","z":"","name":"select_music","icon":"dashboard","order":1,"disabled":false,"hidden":false}]