node-red/sse2019-group2_result.json
[{"id":"df7c3688.a393b8","type":"tab","label":"Result画面","disabled":false,"info":""},{"id":"6d37602b.17276","type":"ui_template","z":"df7c3688.a393b8","group":"ba0e5ef4.e2a76","name":"チャート","order":1,"width":"0","height":"0","format":"<!--\n    <meta charset=\"UTF-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js\"></script>\n    <script>\n        // 2) CSVから２次元配列に変換\n        function csv2Array(str) {\n          var csvData = [];\n          var lines = str.split(\"\\n\");\n          for (var i = 0; i < lines.length; ++i) {\n            var cells = lines[i].split(\",\");\n            csvData.push(cells);\n          }\n          return csvData;\n        }\n        \n        function drawBarChart(data) {\n          // 3)chart.jsのdataset用の配列を用意\n          var tmpLabels = [], tmpData1 = [], tmpData2 = [];\n          for (var row in data) {\n            tmpLabels.push(data[row][0])\n            tmpData1.push(data[row][1])\n          };\n        \n          // 4)chart.jsで描画\n          var ctx = document.getElementById(\"myChart\").getContext(\"2d\");\n          var myChart = new Chart(ctx, {\n            type: 'bar',\n            data: {\n              labels: tmpLabels,\n              datasets: [\n                { label: \"Score\", data: tmpData1, backgroundColor: \"green\" },\n              ]\n            }\n          });\n        }\n        \n        function main() {\n          // 1) ajaxでCSVファイルをロード\n        \n          var req = new XMLHttpRequest();\n          var filePath = 'test.csv';\n        //  var filePath = '/home/pi/development/k1_iot/test4.csv';\n        //  var filePath = 'file:///C:/smartse/csv/data.csv';\n          req.open(\"GET\", filePath, true);\n            // ファイル読み取りに成功したとき\n          req.onload = function() {\n            // 2) CSVデータ変換の呼び出し\n            data = csv2Array(req.responseText);\n            // 3) chart.jsデータ準備、4) chart.js描画の呼び出し\n            drawBarChart(data);\n          }\n          req.send(null);\n        }\n        \n        main();\n    </script>\n\n<div style=\"width: 100%; height: 100%;\">\n    <canvas id=\"myChart\" style=\"width: 100%; height: auto;\"></canvas>\n</div>\n-->\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":499.00009536743164,"y":325.0000696182251,"wires":[[]]},{"id":"ceb53142.56166","type":"ui_ui_control","z":"df7c3688.a393b8","name":"","x":474.0000762939453,"y":549.0001029968262,"wires":[[]]},{"id":"ec038a9f.171078","type":"template","z":"df7c3688.a393b8","name":"楽曲選択画面へ","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"tab\": \"select_music\",\n    \"group\": {\n        \"show\": [\n\n        ]\n    }\n}","output":"json","x":279.0036087036133,"y":548.4236850738525,"wires":[["ceb53142.56166"]]},{"id":"9efedb78.f1e4a8","type":"ui_button","z":"df7c3688.a393b8","name":"","group":"cf9cec14.3bd6e","order":3,"width":0,"height":0,"passthru":true,"label":"楽曲選択へ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":95.00001525878906,"y":547.9236869812012,"wires":[["ec038a9f.171078"]]},{"id":"a94da7b7.b85068","type":"template","z":"df7c3688.a393b8","name":"読み込みファイル(読み込んでくれない)","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"C:\\Users\\tkpoo\\.node-red\\node-red-static\\test.csv","output":"str","x":183.0000228881836,"y":325.0000696182251,"wires":[["6d37602b.17276"]],"info":"## メモ：htmlのチャート表示の"},{"id":"36f16203.4d190e","type":"csv to json ext","z":"df7c3688.a393b8","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"54b37596.cb4c6c","type":"csv to json ext","z":"df7c3688.a393b8","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"18b59af6.d6c305","type":"csv to json ext","z":"df7c3688.a393b8","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"558ae033.c2c7c","type":"csv to json ext","z":"df7c3688.a393b8","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"6f108644.f0a388","type":"csv to json ext","z":"df7c3688.a393b8","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":471.6250500679016,"wires":[[]]},{"id":"5728d0dc.0e2f2","type":"ui_gauge","z":"df7c3688.a393b8","name":"成績","group":"cf9cec14.3bd6e","order":2,"width":"12","height":"6","gtype":"wave","title":"","label":"点","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910.5643157958984,"y":113.91667461395264,"wires":[]},{"id":"5d08c4cb.0413ec","type":"csv to json ext","z":"df7c3688.a393b8","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"\"date\",\"score\"","debug":false,"x":545.0086822509766,"y":178.00171566009521,"wires":[["44d2cccc.e9fad4","39de288.7ed04d8"]]},{"id":"d748a9ba.fa28a8","type":"inject","z":"df7c3688.a393b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":123.00868225097656,"y":177.0017547607422,"wires":[["f58d12ff.a4e82"]]},{"id":"f58d12ff.a4e82","type":"template","z":"df7c3688.a393b8","name":"ファイルパスを記載","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/sse2019-group2/outputs/result.csv","output":"str","x":338.00867462158203,"y":177.0017547607422,"wires":[["5d08c4cb.0413ec"]]},{"id":"44d2cccc.e9fad4","type":"debug","z":"df7c3688.a393b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":738.008731842041,"y":228.00171566009521,"wires":[]},{"id":"b54aa008.75026","type":"template","z":"df7c3688.a393b8","name":"chart_scatter.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js\"></script>\n    <script>\n        {{{js.javascriptfile1}}}\n    </script>\n\n    <title>chart of results</title>\n</head>\n<body>\n<!--ここにグラフが挿入されます-->\n<div style=\"width: 100%; height: 100%;\">\n    <canvas id=\"myChart\" style=\"width: 100%; height: auto;\"></canvas>\n</div>\n</body>\n</html>","output":"str","x":515.0086784362793,"y":651.557391166687,"wires":[["61ee8921.8b4b78"]]},{"id":"61ee8921.8b4b78","type":"http response","z":"df7c3688.a393b8","name":"","statusCode":"","headers":{},"x":694.0088272094727,"y":651.557391166687,"wires":[]},{"id":"6424b161.9dbf5","type":"http in","z":"df7c3688.a393b8","name":"","url":"chart_scatter","method":"get","upload":false,"swaggerDoc":"","x":116.5086898803711,"y":651.5573968887329,"wires":[["71252cea.6d0774"]]},{"id":"71252cea.6d0774","type":"template","z":"df7c3688.a393b8","name":"javascript","field":"js.javascriptfile1","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// 2) CSVから２次元配列に変換\nfunction csv2Array(str) {\n  var csvData = [];\n  var lines = str.split(\"\\n\");\n  for (var i = 0; i < lines.length; ++i) {\n    var cells = lines[i].split(\",\");\n    csvData.push(cells);\n  }\n  return csvData;\n}\n\nfunction drawBarChart(data) {\n  // 3)chart.jsのdataset用の配列を用意\n  var tmpLabels = [], tmpData1 = [], tmpData2 = [];\n  for (var row in data) {\n    tmpLabels.push(data[row][0])\n    tmpData1.push(data[row][1])\n    tmpData2.push(data[row][2])\n  };\n\n  // 4)chart.jsで描画\n  var ctx = document.getElementById(\"myChart\").getContext(\"2d\");\n  var myChart = new Chart(ctx, {\n    type: 'scatter',\n    data: {\n      labels: tmpLabels,\n      datasets: [\n        { label: \"Score\", data: tmpData1, backgroundColor: \"red\" },\n      ]\n    }\n  });\n}\n\nfunction main() {\n  // 1) ajaxでCSVファイルをロード\n\n  var req = new XMLHttpRequest();\n  var filePath = 'result.csv';\n  req.open(\"GET\", filePath, true);\n    // ファイル読み取りに成功したとき\n  req.onload = function() {\n    // 2) CSVデータ変換の呼び出し\n    data = csv2Array(req.responseText);\n    // 3) chart.jsデータ準備、4) chart.js描画の呼び出し\n    drawBarChart(data);\n  }\n  req.send(null);\n}\n\nmain();","output":"str","x":300,"y":640,"wires":[["b54aa008.75026"]]},{"id":"f1ced3c9.acbae","type":"comment","z":"df7c3688.a393b8","name":"楽曲選択画面へ","info":"","x":100.5625228881836,"y":506.4219741821289,"wires":[]},{"id":"71e22de2.a142e4","type":"http in","z":"df7c3688.a393b8","name":"","url":"chart_bar","method":"get","upload":false,"swaggerDoc":"","x":105,"y":707.5001001358032,"wires":[["508065a2.09369c"]]},{"id":"508065a2.09369c","type":"template","z":"df7c3688.a393b8","name":"javascript2","field":"js.javascriptfile2","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// 2) CSVから２次元配列に変換\nfunction csv2Array(str) {\n  var csvData = [];\n  var lines = str.split(\"\\n\");\n  for (var i = 0; i < lines.length; ++i) {\n    var cells = lines[i].split(\",\");\n    csvData.push(cells);\n  }\n  return csvData;\n}\n\nfunction drawBarChart(data) {\n  // 3)chart.jsのdataset用の配列を用意\n  var tmpLabels = [], tmpData1 = [], tmpData2 = [];\n  for (var row in data) {\n    tmpLabels.push(data[row][0])\n    tmpData1.push(data[row][1])\n  };\n\n  // 4)chart.jsで描画\n  var ctx = document.getElementById(\"myChart\").getContext(\"2d\");\n  var myChart = new Chart(ctx, {\n    type: 'bar',\n    data: {\n      labels: tmpLabels,\n      datasets: [\n        { label: \"Score\", data: tmpData1, backgroundColor: \"rgba(200,30,30,0.4)\" },\n      ]\n    }\n  });\n}\n\nfunction main() {\n  // 1) ajaxでCSVファイルをロード\n\n  var req = new XMLHttpRequest();\n  var filePath = 'result.csv';\n  req.open(\"GET\", filePath, true);\n    // ファイル読み取りに成功したとき\n  req.onload = function() {\n    // 2) CSVデータ変換の呼び出し\n    data = csv2Array(req.responseText);\n    // 3) chart.jsデータ準備、4) chart.js描画の呼び出し\n    drawBarChart(data);\n  }\n  req.send(null);\n}\n\nmain();","output":"str","x":269.00000762939453,"y":706.5001001358032,"wires":[["450da4c9.9aeaac"]]},{"id":"450da4c9.9aeaac","type":"template","z":"df7c3688.a393b8","name":"chart_bar.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js\"></script>\n    <script>\n        {{{js.javascriptfile2}}}\n    </script>\n\n    <title>Score</title>\n</head>\n<body>\n<!--ここにグラフが挿入されます-->\n<div style=\"width: 100%; height: 100%;\">\n    <canvas id=\"myChart\" style=\"width: 100%; height: auto;\"></canvas>\n</div>\n</body>\n</html>","output":"str","x":499.0000114440918,"y":706.5001001358032,"wires":[["953a3701.dabf38"]]},{"id":"953a3701.dabf38","type":"http response","z":"df7c3688.a393b8","name":"","statusCode":"","headers":{},"x":697.0000381469727,"y":707.5001001358032,"wires":[]},{"id":"f3254046.32522","type":"comment","z":"df7c3688.a393b8","name":"結果画面","info":"","x":88.00000762939453,"y":38.00000190734863,"wires":[]},{"id":"5b65f67b.99fe18","type":"ui_template","z":"df7c3688.a393b8","group":"7ae5701f.750a9","name":"タイトル","order":1,"width":0,"height":0,"format":"<h1><center>ピアノ演奏上達システム</center></h1>\n<h3><center>結果発表！</center></h3>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":88.66667938232422,"y":76.00000095367432,"wires":[[]]},{"id":"5a2797e5.74c438","type":"comment","z":"df7c3688.a393b8","name":"Chart画面の表示","info":"","x":104,"y":601.0000896453857,"wires":[]},{"id":"2ba11e56.9b5dd2","type":"template","z":"df7c3688.a393b8","name":"chart_line.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js\"></script>\n    <script>\n        {{{js.javascriptfile3}}}\n    </script>\n\n    <title>chart of results</title>\n</head>\n<body>\n<!--ここにグラフが挿入されます-->\n<div style=\"width: 100%; height: 100%;\">\n    <canvas id=\"myLineChart\" style=\"width: 100%; height: auto;\"></canvas>\n</div>\n</body>\n</html>","output":"str","x":505.4999885559082,"y":764.0000896453857,"wires":[["76e2060f.528cd8"]]},{"id":"76e2060f.528cd8","type":"http response","z":"df7c3688.a393b8","name":"","statusCode":"","headers":{},"x":694.5001373291016,"y":764.0000896453857,"wires":[]},{"id":"aeaf07e8.29b2f8","type":"http in","z":"df7c3688.a393b8","name":"","url":"chart_line","method":"get","upload":false,"swaggerDoc":"","x":107,"y":764.0000953674316,"wires":[["eef3f26d.8e4b2"]]},{"id":"eef3f26d.8e4b2","type":"template","z":"df7c3688.a393b8","name":"javascript3","field":"js.javascriptfile3","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// 2) CSVから２次元配列に変換\nfunction csv2Array(str) {\n  var csvData = [];\n  var lines = str.split(\"\\n\");\n  for (var i = 0; i < lines.length; ++i) {\n    var cells = lines[i].split(\",\");\n    csvData.push(cells);\n  }\n  return csvData;\n}\n\nfunction drawLineChart(data) {\n  // 3)chart.jsのdataset用の配列を用意\n  var tmpLabels = [], tmpData1 = [], tmpData2 = [];\n  for (var row in data) {\n    tmpLabels.push(data[row][0])\n    tmpData1.push(data[row][1])\n    tmpData2.push(data[row][2])\n  };\n\n  // 4)chart.jsで描画\n  var ctx = document.getElementById(\"myLineChart\").getContext(\"2d\");\n  var myChart = new Chart(ctx, {\n    type: 'line',\n    data: {\n      labels: tmpLabels,\n      datasets: [\n        { label: \"Score\", \n          data: tmpData1, \n          backgroundColor: \"rgba(200,30,30,0.4)\",\n          fill: false\n        },\n\n      ]\n    }\n  });\n}\n\nfunction main() {\n  // 1) ajaxでCSVファイルをロード\n\n  var req = new XMLHttpRequest();\n  var filePath = 'result.csv';\n  req.open(\"GET\", filePath, true);\n    // ファイル読み取りに成功したとき\n  req.onload = function() {\n    // 2) CSVデータ変換の呼び出し\n    data = csv2Array(req.responseText);\n    // 3) chart.jsデータ準備、4) chart.js描画の呼び出し\n    drawLineChart(data);\n  }\n  req.send(null);\n}\n\nmain();","output":"str","x":289.50000762939453,"y":764.0001106262207,"wires":[["2ba11e56.9b5dd2"]]},{"id":"39de288.7ed04d8","type":"change","z":"df7c3688.a393b8","name":"score","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":715.666690826416,"y":151.33334732055664,"wires":[["5728d0dc.0e2f2","d4c28263.c6741"]]},{"id":"62325d7.9463ea4","type":"comment","z":"df7c3688.a393b8","name":"最終スコアを表示","info":"","x":118,"y":126,"wires":[]},{"id":"28d2b65b.b014ea","type":"comment","z":"df7c3688.a393b8","name":"ファイルパスを記載","info":"","x":326.00000762939453,"y":121.00000381469727,"wires":[]},{"id":"cdddddc6.8ad49","type":"comment","z":"df7c3688.a393b8","name":"チャート表示","info":"めも\n<!--\n    <meta charset=\"UTF-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js\"></script>\n    <script>\n        // 2) CSVから２次元配列に変換\n        function csv2Array(str) {\n          var csvData = [];\n          var lines = str.split(\"\\n\");\n          for (var i = 0; i < lines.length; ++i) {\n            var cells = lines[i].split(\",\");\n            csvData.push(cells);\n          }\n          return csvData;\n        }\n        \n        function drawBarChart(data) {\n          // 3)chart.jsのdataset用の配列を用意\n          var tmpLabels = [], tmpData1 = [], tmpData2 = [];\n          for (var row in data) {\n            tmpLabels.push(data[row][0])\n            tmpData1.push(data[row][1])\n          };\n        \n          // 4)chart.jsで描画\n          var ctx = document.getElementById(\"myChart\").getContext(\"2d\");\n          var myChart = new Chart(ctx, {\n            type: 'bar',\n            data: {\n              labels: tmpLabels,\n              datasets: [\n                { label: \"Score\", data: tmpData1, backgroundColor: \"green\" },\n              ]\n            }\n          });\n        }\n        \n        function main() {\n          // 1) ajaxでCSVファイルをロード\n        \n          var req = new XMLHttpRequest();\n          var filePath = 'test.csv';\n        //  var filePath = '/home/pi/development/k1_iot/test4.csv';\n        //  var filePath = 'file:///C:/smartse/csv/data.csv';\n          req.open(\"GET\", filePath, true);\n            // ファイル読み取りに成功したとき\n          req.onload = function() {\n            // 2) CSVデータ変換の呼び出し\n            data = csv2Array(req.responseText);\n            // 3) chart.jsデータ準備、4) chart.js描画の呼び出し\n            drawBarChart(data);\n          }\n          req.send(null);\n        }\n        \n        main();\n    </script>\n\n<div style=\"width: 100%; height: 100%;\">\n    <canvas id=\"myChart\" style=\"width: 100%; height: auto;\"></canvas>\n</div>\n-->\n","x":96,"y":275,"wires":[]},{"id":"d4c28263.c6741","type":"ui_template","z":"df7c3688.a393b8","group":"cf9cec14.3bd6e","name":"メッセージ","order":1,"width":0,"height":0,"format":"<h2><center>今回の成績は！？</center></h2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930.6666889190674,"y":199.00000762939453,"wires":[[]]},{"id":"625886f7.2d5348","type":"ui_template","z":"df7c3688.a393b8","group":"cf9cec14.3bd6e","name":"履歴画面(折れ線グラフ)へジャンプ１","order":4,"width":0,"height":0,"format":"<!--新しいタブでリンク先が開く-->\n<input type=\"button\" value=\"履歴（折れ線）\" onClick=\"window.open('../chart_line')\">\n\n<script type=\"text/javascript\">\nfunction win_open() {\n\twindow.open(\"../chart_line\",\"\",\"\"); \n}\n</script> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":174.6666717529297,"y":415.0000238418579,"wires":[[]]},{"id":"7d157197.a1473","type":"ui_button","z":"df7c3688.a393b8","name":"","group":"cf9cec14.3bd6e","order":5,"width":0,"height":0,"passthru":false,"label":"結果を出力","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":101.66667175292969,"y":226,"wires":[["f58d12ff.a4e82"]]},{"id":"b0039b5e.ecc368","type":"ui_template","z":"df7c3688.a393b8","group":"cf9cec14.3bd6e","name":"履歴画面（棒グラフ) へジャンプ２","order":4,"width":0,"height":0,"format":"<!--新しいタブでリンク先が開く-->\n<input type=\"button\" value=\"履歴（棒）\" onClick=\"window.open('../chart_bar')\">\n\n<script type=\"text/javascript\">\nfunction win_open() {\n\twindow.open(\"../chart_line\",\"\",\"\"); \n}\n</script> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":165.00001525878906,"y":461.00010681152344,"wires":[[]]},{"id":"7f97a965.82b268","type":"comment","z":"df7c3688.a393b8","name":"チャートのリンク表示","info":"","x":124,"y":373.3333549499512,"wires":[]},{"id":"ba0e5ef4.e2a76","type":"ui_group","z":"","name":"チャート","tab":"2900370.d0fb7ca","order":4,"disp":false,"width":"6","collapse":false},{"id":"cf9cec14.3bd6e","type":"ui_group","z":"","name":"結果表示","tab":"2900370.d0fb7ca","order":2,"disp":false,"width":"12","collapse":false},{"id":"7ae5701f.750a9","type":"ui_group","z":"","name":"タイトル","tab":"2900370.d0fb7ca","order":1,"disp":false,"width":"12","collapse":false},{"id":"2900370.d0fb7ca","type":"ui_tab","z":"","name":"Result","icon":"dashboard","order":3,"disabled":false,"hidden":false}]