node-red/sse2019-group2_recording.json
[{"id":"53f24dc3.f1a684","type":"tab","label":"録音画面","disabled":false,"info":""},{"id":"ff4d3f86.7024b","type":"ui_ui_control","z":"53f24dc3.f1a684","name":"","x":485.68408203125,"y":226.99998474121094,"wires":[[]]},{"id":"add313a1.40cd1","type":"template","z":"53f24dc3.f1a684","name":"結果画面へ","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"tab\": \"Result\",\n    \"group\": {\n        \"show\": [\n\n        ]\n    }\n}","output":"json","x":304.6875915527344,"y":227.42356872558594,"wires":[["ff4d3f86.7024b"]]},{"id":"e2345f61.727fe","type":"ui_button","z":"53f24dc3.f1a684","name":"","group":"395a3203.22ac1e","order":2,"width":0,"height":0,"passthru":true,"label":"結果発表！","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":108.68402099609375,"y":226.92356872558594,"wires":[["add313a1.40cd1"]]},{"id":"77032872.5183c8","type":"comment","z":"53f24dc3.f1a684","name":"結果画面へ","info":"","x":96,"y":175.86105155944824,"wires":[]},{"id":"ab2132e3.0906b","type":"comment","z":"53f24dc3.f1a684","name":"録音画面","info":"","x":94,"y":52,"wires":[]},{"id":"62ec5cca.072654","type":"ui_template","z":"53f24dc3.f1a684","group":"395a3203.22ac1e","name":"タイトル","order":1,"width":0,"height":0,"format":"<h1><center>ピアノ演奏上達システム</center></h1>\n<h3><center>たくさん弾いて、じょうずになろう！</center></h3>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":94.66667175292969,"y":89.99999904632568,"wires":[[]]},{"id":"395a3203.22ac1e","type":"ui_group","z":"","name":"録音画面","tab":"8f2897e1.d6e818","disp":false,"width":"12","collapse":false},{"id":"8f2897e1.d6e818","type":"ui_tab","z":"","name":"Recording","icon":"dashboard","order":2,"disabled":false,"hidden":false}]