node-red/sse2019-group2_start.json
[{"id":"f58a0348.1325a","type":"tab","label":"開始画面","disabled":false,"info":""},{"id":"f5294ab7.a1bfd8","type":"comment","z":"f58a0348.1325a","name":"楽曲選択・開始画面","info":"","x":150,"y":40,"wires":[]},{"id":"db74070c.335d98","type":"comment","z":"f58a0348.1325a","name":"小節選択","info":"","x":112.99999618530273,"y":283.0000057220459,"wires":[]},{"id":"514ceefe.d21bc","type":"comment","z":"f58a0348.1325a","name":"楽曲選択","info":"","x":120,"y":91,"wires":[]},{"id":"1b559323.bf2a1d","type":"ui_text","z":"f58a0348.1325a","group":"205f262.dc95cda","order":1,"width":0,"height":0,"name":"","label":"楽曲を選択してください：","format":"{{msg.payload}}","layout":"row-spread","x":591.0000305175781,"y":135.00003051757812,"wires":[]},{"id":"1eb1498.e2ad6b7","type":"ui_text","z":"f58a0348.1325a","group":"155cffa1.5e38f","order":1,"width":0,"height":0,"name":"","label":"演奏パートを選択してください","format":"{{msg.payload}}","layout":"row-spread","x":656.9999847412109,"y":319.0000400543213,"wires":[]},{"id":"aa21a161.94357","type":"ui_text","z":"f58a0348.1325a","group":"205f262.dc95cda","order":4,"width":0,"height":0,"name":"","label":"楽曲のテンポを入力してください：","format":"{{msg.payload}}","layout":"row-spread","x":629.0000762939453,"y":238.99997520446777,"wires":[]},{"id":"19f1e9a8.abae96","type":"ui_template","z":"f58a0348.1325a","group":"155cffa1.5e38f","name":"(未使用)ラジオボタンで選択","order":2,"width":0,"height":0,"format":"<input type=\"hidden\" name=\"abc\" value=\"10\">\n<table>\n　<tbody>\n　　<tr> <td>part1 </td> <td> <input type=\"radio\" ng-click=\"send({payload:part})\" name=\"part\" value='10' Checked></td> </tr>\n　　<tr> <td>part2 </td> <td> <input type=\"radio\" ng-click=\"send({payload:part})\" name=\"part\" value='20'></td> </tr>\n　　<tr> <td>part3 </td> <td> <input type=\"radio\" ng-click=\"send({payload:part})\" name=\"part\" value='20'></td> </tr>\n　　<tr> <td>part4 </td> <td> <input type=\"radio\" ng-click=\"send({payload:part})\" name=\"part\" value='30'></td> </tr>\n　</tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":378.2221870422363,"y":317.5555839538574,"wires":[["1eb1498.e2ad6b7"]]},{"id":"84c46dfa.89c5e","type":"ui_ui_control","z":"f58a0348.1325a","name":"","x":505.68408966064453,"y":396.1389455795288,"wires":[[]]},{"id":"44d6abb4.81ebf4","type":"template","z":"f58a0348.1325a","name":"録音画面へ","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"tab\": \"Result\",\n    \"group\": {\n        \"show\": [\n\n        ]\n    }\n}","output":"json","x":324.6875991821289,"y":396.5625295639038,"wires":[["84c46dfa.89c5e"]]},{"id":"b57dae72.41869","type":"template","z":"f58a0348.1325a","name":"楽曲選択 初期設定","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"group\": {\n        \"show\": [\n            \"楽曲選択\"\n        ]\n    }\n}","output":"str","x":144.6944465637207,"y":135.67016410827637,"wires":[["ff95413c.a6cc3"]]},{"id":"dee6e778.923cc8","type":"template","z":"f58a0348.1325a","name":"小節選択 初期設定","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"group\": {\n        \"show\": [\n            \"小節選択\"\n        ]\n    }\n}","output":"str","x":139.0173568725586,"y":317.8993396759033,"wires":[["19f1e9a8.abae96"]]},{"id":"e9a28f04.8a455","type":"template","z":"f58a0348.1325a","name":"BPM 初期設定","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"group\": {\n        \"show\": [\n            \"BPM選択\"\n        ]\n    }\n}","output":"str","x":137.01737213134766,"y":238.78814506530762,"wires":[["18b7e7b1.ca6738"]]},{"id":"a800f93e.e114b8","type":"ui_button","z":"f58a0348.1325a","name":"","group":"155cffa1.5e38f","order":3,"width":0,"height":0,"passthru":true,"label":"次へ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":108.68402862548828,"y":396.0625295639038,"wires":[["44d6abb4.81ebf4"]]},{"id":"ff95413c.a6cc3","type":"ui_dropdown","z":"f58a0348.1325a","name":"","label":"","tooltip":"","place":"Select option","group":"205f262.dc95cda","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"かえるのうた","value":1,"type":"num"},{"label":"チューリップ","value":2,"type":"num"},{"label":"ドレミのうた","value":3,"type":"num"},{"label":"北酒場","value":4,"type":"num"}],"payload":"","topic":"","x":336.0918273925781,"y":135.54608917236328,"wires":[["1b559323.bf2a1d"]]},{"id":"6032fd98.900854","type":"ui_template","z":"f58a0348.1325a","group":"205f262.dc95cda","name":"(未使用)ラジオボタンで選択","order":3,"width":0,"height":0,"format":"<!--\n<table>\n　<tbody>\n　　<tr> <td>かえるのうた</td> <td> <input ng-click=\"send({payload:music})\" type=\"radio\" name=\"music\" value='1' Checked></td> </tr>\n　　<tr> <td>アマリリス  </td> <td> <input ng-click=\"send({payload:music})\" type=\"radio\" name=\"music\" value='2'></td> </tr>\n　　<tr> <td>その他１    </td> <td> <input ng-click=\"send({payload:music})\" type=\"radio\" name=\"music\" value='3'></td> </tr>\n　　<tr> <td>その他２    </td> <td> <input ng-click=\"send({payload:music})\" type=\"radio\" name=\"music\" value='4'></td> </tr>\n　</tbody>\n</table>\n-->","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":393.99999237060547,"y":81.00003051757812,"wires":[[]]},{"id":"be602e6.686e3d","type":"comment","z":"f58a0348.1325a","name":"BPM選択","info":"","x":117.00001525878906,"y":204.99996757507324,"wires":[]},{"id":"2438f007.e96cd","type":"comment","z":"f58a0348.1325a","name":"録音画面へ","info":"","x":116.00000762939453,"y":360.9999990463257,"wires":[]},{"id":"18b7e7b1.ca6738","type":"ui_slider","z":"f58a0348.1325a","name":"","label":"BPM","tooltip":"","group":"205f262.dc95cda","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"200","step":1,"x":331.5659713745117,"y":239.31085205078125,"wires":[["aa21a161.94357"]]},{"id":"205f262.dc95cda","type":"ui_group","z":"","name":"楽曲選択","tab":"a85a0bef.ff2a38","order":1,"disp":true,"width":"6","collapse":false},{"id":"155cffa1.5e38f","type":"ui_group","z":"","name":"小節選択","tab":"a85a0bef.ff2a38","order":2,"disp":true,"width":"6","collapse":false},{"id":"a85a0bef.ff2a38","type":"ui_tab","z":"","name":"select_music","icon":"dashboard","order":1,"disabled":false,"hidden":false}]