node-red/sse2019-group2_result.json
[{"id":"40009d8a.4a3654","type":"tab","label":"Result画面","disabled":false,"info":""},{"id":"3370bd04.b32732","type":"ui_ui_control","z":"40009d8a.4a3654","name":"","x":480,"y":640,"wires":[[]]},{"id":"bcf4e883.1fa4d8","type":"template","z":"40009d8a.4a3654","name":"楽曲選択画面へ","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"tab\": \"select_music\",\n    \"group\": {\n        \"show\": [\n\n        ]\n    }\n}","output":"json","x":285.00353240966797,"y":639.4235820770264,"wires":[["3370bd04.b32732"]]},{"id":"66cfaa7.3d13054","type":"ui_button","z":"40009d8a.4a3654","name":"","group":"3241ab3e.688124","order":3,"width":0,"height":0,"passthru":true,"label":"楽曲選択へ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":100.99993896484375,"y":638.923583984375,"wires":[["bcf4e883.1fa4d8"]]},{"id":"9fc13aa6.9ae198","type":"ui_gauge","z":"40009d8a.4a3654","name":"成績","group":"3241ab3e.688124","order":2,"width":"12","height":"6","gtype":"wave","title":"","label":"点","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910.5643157958984,"y":113.91667461395264,"wires":[]},{"id":"7d9f7e0f.4849","type":"inject","z":"40009d8a.4a3654","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":123.00868225097656,"y":177.0017547607422,"wires":[["72ec9561.52a5dc"]]},{"id":"72ec9561.52a5dc","type":"template","z":"40009d8a.4a3654","name":"ファイルパスを記載","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/sse2019-group2/outputs/result.csv","output":"str","x":338.00867462158203,"y":177.0017547607422,"wires":[["8bffeb06.6e8f88"]]},{"id":"882d700.855389","type":"debug","z":"40009d8a.4a3654","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":738.008731842041,"y":228.00171566009521,"wires":[]},{"id":"e1624a04.37aa78","type":"template","z":"40009d8a.4a3654","name":"chart_scatter.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js\"></script>\n    <script>\n        {{{js.javascriptfile1}}}\n    </script>\n\n    <title>chart of results</title>\n</head>\n<body>\n<!--ここにグラフが挿入されます-->\n<div style=\"width: 100%; height: 100%;\">\n    <canvas id=\"myChart\" style=\"width: 100%; height: auto;\"></canvas>\n</div>\n</body>\n</html>","output":"str","x":1110,"y":520,"wires":[["b67ff231.e9c81"]]},{"id":"b67ff231.e9c81","type":"http response","z":"40009d8a.4a3654","name":"","statusCode":"","headers":{},"x":1289.0001487731934,"y":520,"wires":[]},{"id":"d17f359f.d1ec38","type":"http in","z":"40009d8a.4a3654","name":"","url":"chart_scatter","method":"get","upload":false,"swaggerDoc":"","x":711.5000114440918,"y":520.0000057220459,"wires":[["3d887b62.9e34c4"]]},{"id":"3d887b62.9e34c4","type":"template","z":"40009d8a.4a3654","name":"javascript","field":"js.javascriptfile1","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// 2) CSVから２次元配列に変換\nfunction csv2Array(str) {\n  var csvData = [];\n  var lines = str.split(\"\\n\");\n  for (var i = 0; i < lines.length; ++i) {\n    var cells = lines[i].split(\",\");\n    csvData.push(cells);\n  }\n  return csvData;\n}\n\nfunction drawBarChart(data) {\n  // 3)chart.jsのdataset用の配列を用意\n  var tmpLabels = [], tmpData1 = [], tmpData2 = [];\n  for (var row in data) {\n    tmpLabels.push(data[row][0])\n    tmpData1.push(data[row][1])\n    tmpData2.push(data[row][2])\n  };\n\n  // 4)chart.jsで描画\n  var ctx = document.getElementById(\"myChart\").getContext(\"2d\");\n  var myChart = new Chart(ctx, {\n    type: 'scatter',\n    data: {\n      labels: tmpLabels,\n      datasets: [\n        { label: \"Score\", data: tmpData1, backgroundColor: \"red\" },\n      ]\n    }\n  });\n}\n\nfunction main() {\n  // 1) ajaxでCSVファイルをロード\n\n  var req = new XMLHttpRequest();\n  var filePath = 'result.csv';\n  req.open(\"GET\", filePath, true);\n    // ファイル読み取りに成功したとき\n  req.onload = function() {\n    // 2) CSVデータ変換の呼び出し\n    data = csv2Array(req.responseText);\n    // 3) chart.jsデータ準備、4) chart.js描画の呼び出し\n    drawBarChart(data);\n  }\n  req.send(null);\n}\n\nmain();","output":"str","x":894.9913215637207,"y":508.442608833313,"wires":[["e1624a04.37aa78"]]},{"id":"1adbe652.7bc46a","type":"comment","z":"40009d8a.4a3654","name":"楽曲選択画面へ","info":"","x":106.56244659423828,"y":597.4218711853027,"wires":[]},{"id":"6a6f184a.5cc328","type":"http in","z":"40009d8a.4a3654","name":"","url":"chart_bar","method":"get","upload":false,"swaggerDoc":"","x":699.9913215637207,"y":575.9427089691162,"wires":[["473a022d.f69ebc"]]},{"id":"473a022d.f69ebc","type":"template","z":"40009d8a.4a3654","name":"javascript2","field":"js.javascriptfile2","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// 2) CSVから２次元配列に変換\nfunction csv2Array(str) {\n  var csvData = [];\n  var lines = str.split(\"\\n\");\n  for (var i = 0; i < lines.length; ++i) {\n    var cells = lines[i].split(\",\");\n    csvData.push(cells);\n  }\n  return csvData;\n}\n\nfunction drawBarChart(data) {\n  // 3)chart.jsのdataset用の配列を用意\n  var tmpLabels = [], tmpData1 = [], tmpData2 = [];\n  for (var row in data) {\n    tmpLabels.push(data[row][0])\n    tmpData1.push(data[row][1])\n  };\n\n  // 4)chart.jsで描画\n  var ctx = document.getElementById(\"myChart\").getContext(\"2d\");\n  var myChart = new Chart(ctx, {\n    type: 'horizontalBar',\n    data: {\n      labels: tmpLabels,\n      datasets: [\n        { label: \"Score\", data: tmpData1, backgroundColor: \"rgba(200,30,30,0.4)\" },\n      ]\n    }\n  });\n}\n\nfunction main() {\n  // 1) ajaxでCSVファイルをロード\n\n  var req = new XMLHttpRequest();\n  var filePath = 'result.csv';\n  req.open(\"GET\", filePath, true);\n    // ファイル読み取りに成功したとき\n  req.onload = function() {\n    // 2) CSVデータ変換の呼び出し\n    data = csv2Array(req.responseText);\n    // 3) chart.jsデータ準備、4) chart.js描画の呼び出し\n    drawBarChart(data);\n  }\n  req.send(null);\n}\n\nmain();","output":"str","x":904.9913215637207,"y":568.442608833313,"wires":[["a4c73d8c.59f5b"]]},{"id":"a4c73d8c.59f5b","type":"template","z":"40009d8a.4a3654","name":"chart_bar.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js\"></script>\n    <script>\n        {{{js.javascriptfile2}}}\n    </script>\n\n    <title>Score</title>\n</head>\n<body>\n<!--ここにグラフが挿入されます-->\n<div style=\"width: 100%; height: 100%;\">\n    <canvas id=\"myChart\" style=\"width: 100%; height: auto;\"></canvas>\n</div>\n</body>\n</html>","output":"str","x":1093.9913330078125,"y":574.9427089691162,"wires":[["81a8c6aa.214d78"]]},{"id":"81a8c6aa.214d78","type":"http response","z":"40009d8a.4a3654","name":"","statusCode":"","headers":{},"x":1291.9913597106934,"y":575.9427089691162,"wires":[]},{"id":"145273ab.bc330c","type":"comment","z":"40009d8a.4a3654","name":"結果画面","info":"","x":88.00000762939453,"y":38.00000190734863,"wires":[]},{"id":"2bdf74ec.74b86c","type":"ui_template","z":"40009d8a.4a3654","group":"e82575ea.a45a88","name":"タイトル","order":1,"width":0,"height":0,"format":"<h1><center>ピアノ演奏上達システム</center></h1>\n<h3><center>結果発表！</center></h3>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":88.66667938232422,"y":76.00000095367432,"wires":[[]]},{"id":"fe8b8481.beea78","type":"comment","z":"40009d8a.4a3654","name":"Chart画面の表示","info":"","x":700,"y":460,"wires":[]},{"id":"5880779e.cb0678","type":"template","z":"40009d8a.4a3654","name":"chart_line.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js\"></script>\n    <script>\n        {{{js.javascriptfile3}}}\n    </script>\n\n    <title>chart of results</title>\n</head>\n<body>\n<!--ここにグラフが挿入されます-->\n<div style=\"width: 100%; height: 100%;\">\n    <canvas id=\"myLineChart\" style=\"width: 100%; height: auto;\"></canvas>\n</div>\n</body>\n</html>","output":"str","x":1100.491310119629,"y":632.4426984786987,"wires":[["9818fc2a.0b36c"]]},{"id":"9818fc2a.0b36c","type":"http response","z":"40009d8a.4a3654","name":"","statusCode":"","headers":{},"x":1289.4914588928223,"y":632.4426984786987,"wires":[]},{"id":"92bb7e29.851d5","type":"http in","z":"40009d8a.4a3654","name":"","url":"chart_line","method":"get","upload":false,"swaggerDoc":"","x":701.9913215637207,"y":632.4427042007446,"wires":[["23308065.0a0ca"]]},{"id":"23308065.0a0ca","type":"template","z":"40009d8a.4a3654","name":"javascript3","field":"js.javascriptfile3","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// 2) CSVから２次元配列に変換\nfunction csv2Array(str) {\n  var csvData = [];\n  var lines = str.split(\"\\n\");\n  for (var i = 0; i < lines.length; ++i) {\n    var cells = lines[i].split(\",\");\n    csvData.push(cells);\n  }\n  return csvData;\n}\n\nfunction drawLineChart(data) {\n  // 3)chart.jsのdataset用の配列を用意\n  var tmpLabels = [], tmpData1 = [], tmpData2 = [];\n  for (var row in data) {\n    tmpLabels.push(data[row][0])\n    tmpData1.push(data[row][1])\n    tmpData2.push(data[row][2])\n  };\n\n  // 4)chart.jsで描画\n  var ctx = document.getElementById(\"myLineChart\").getContext(\"2d\");\n  var myChart = new Chart(ctx, {\n    type: 'line',\n    data: {\n      labels: tmpLabels,\n      datasets: [\n        { label: \"Score\", \n          data: tmpData1, \n          backgroundColor: \"rgba(200,30,30,0.4)\",\n          fill: false\n        },\n\n      ]\n    }\n  });\n}\n\nfunction main() {\n  // 1) ajaxでCSVファイルをロード\n\n  var req = new XMLHttpRequest();\n  var filePath = 'result.csv';\n  req.open(\"GET\", filePath, true);\n    // ファイル読み取りに成功したとき\n  req.onload = function() {\n    // 2) CSVデータ変換の呼び出し\n    data = csv2Array(req.responseText);\n    // 3) chart.jsデータ準備、4) chart.js描画の呼び出し\n    drawLineChart(data);\n  }\n  req.send(null);\n}\n\nmain();","output":"str","x":884.4913291931152,"y":632.4427194595337,"wires":[["5880779e.cb0678"]]},{"id":"7d490091.11484","type":"change","z":"40009d8a.4a3654","name":"score","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":715.666690826416,"y":151.33334732055664,"wires":[["9fc13aa6.9ae198","d2f83db7.7b5b1"]]},{"id":"2e3aa500.76938c","type":"comment","z":"40009d8a.4a3654","name":"最終スコアを表示","info":"","x":118,"y":126,"wires":[]},{"id":"d35870d.5e0c59","type":"comment","z":"40009d8a.4a3654","name":"ファイルパスを記載","info":"","x":326.00000762939453,"y":121.00000381469727,"wires":[]},{"id":"d2f83db7.7b5b1","type":"ui_template","z":"40009d8a.4a3654","group":"3241ab3e.688124","name":"メッセージ","order":1,"width":0,"height":0,"format":"<h2><center>今回の成績は！？</center></h2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930.6666889190674,"y":199.00000762939453,"wires":[[]]},{"id":"15a18d5e.f09973","type":"ui_template","z":"40009d8a.4a3654","group":"3241ab3e.688124","name":"履歴画面(折れ線グラフ)へジャンプ１","order":4,"width":0,"height":0,"format":"<!--新しいタブでリンク先が開く-->\n<input type=\"button\" value=\"履歴（折れ線）\" onClick=\"window.open('../chart_line')\">\n\n<script type=\"text/javascript\">\nfunction win_open() {\n\twindow.open(\"../chart_line\",\"\",\"\"); \n}\n</script> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":480,"wires":[[]]},{"id":"9a5af6f9.7634d8","type":"ui_button","z":"40009d8a.4a3654","name":"","group":"3241ab3e.688124","order":5,"width":0,"height":0,"passthru":false,"label":"結果を出力","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":101.66667175292969,"y":226,"wires":[["72ec9561.52a5dc"]]},{"id":"f0167125.5eaf3","type":"ui_template","z":"40009d8a.4a3654","group":"3241ab3e.688124","name":"履歴画面（棒グラフ) へジャンプ２","order":4,"width":0,"height":0,"format":"<!--新しいタブでリンク先が開く-->\n<input type=\"button\" value=\"履歴（棒）\" onClick=\"window.open('../chart_bar')\">\n\n<script type=\"text/javascript\">\nfunction win_open() {\n\twindow.open(\"../chart_line\",\"\",\"\"); \n}\n</script> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":160.33334350585938,"y":526.0000829696655,"wires":[[]]},{"id":"d5ed5acb.c73378","type":"comment","z":"40009d8a.4a3654","name":"チャートのリンク表示","info":"","x":119.33332824707031,"y":438.33333110809326,"wires":[]},{"id":"d5a29c6e.0f6ce","type":"csv to json ext","z":"40009d8a.4a3654","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"b37f8e8f.48db3","type":"csv to json ext","z":"40009d8a.4a3654","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"8a7091f6.5c54e","type":"csv to json ext","z":"40009d8a.4a3654","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"9e5d2043.1946d","type":"csv to json ext","z":"40009d8a.4a3654","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"177c01f0.c047fe","type":"csv to json ext","z":"40009d8a.4a3654","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":471.6250500679016,"wires":[[]]},{"id":"8bffeb06.6e8f88","type":"csv to json ext","z":"40009d8a.4a3654","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":true,"includeColumns":"","headers":"\"date\",\"score\"","debug":false,"x":545.0086822509766,"y":178.00171566009521,"wires":[["882d700.855389","7d490091.11484"]]},{"id":"a436f60.a198908","type":"ui_ui_control","z":"40009d8a.4a3654","name":"","x":480,"y":360,"wires":[["72ec9561.52a5dc"]]},{"id":"18f5c5dc.7aadba","type":"template","z":"40009d8a.4a3654","name":"結果画面へ","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"tab\": \"Result\",\n    \"group\": {\n        \"show\": [\n\n        ]\n    }\n}","output":"json","x":299.0035095214844,"y":360.423583984375,"wires":[["a436f60.a198908"]]},{"id":"684c52f6.8d95fc","type":"ui_button","z":"40009d8a.4a3654","name":"","group":"755dd518.98220c","order":4,"width":0,"height":0,"passthru":true,"label":"結果発表！","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":102.99993896484375,"y":359.923583984375,"wires":[["18f5c5dc.7aadba"]]},{"id":"104b0cc4.594b83","type":"comment","z":"40009d8a.4a3654","name":"録音画面のボタンをここで使う","info":"","x":150,"y":320,"wires":[]},{"id":"3241ab3e.688124","type":"ui_group","z":"","name":"結果表示","tab":"c5d0c63.3bab938","order":2,"disp":false,"width":"12","collapse":false},{"id":"e82575ea.a45a88","type":"ui_group","z":"","name":"タイトル","tab":"c5d0c63.3bab938","order":1,"disp":false,"width":"12","collapse":false},{"id":"755dd518.98220c","type":"ui_group","z":"","name":"録音画面","tab":"17c5d9ab.17a2d6","disp":false,"width":"12","collapse":false},{"id":"c5d0c63.3bab938","type":"ui_tab","z":"","name":"Result","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"17c5d9ab.17a2d6","type":"ui_tab","z":"","name":"Recording","icon":"dashboard","order":2,"disabled":false,"hidden":false}]