node-red/sse2019-group2_start.json
[{"id":"59ce507c.eb576","type":"tab","label":"楽曲開始","disabled":false,"info":""},{"id":"1a9beff6.e9962","type":"ui_text","z":"59ce507c.eb576","group":"1cac9dd5.04a682","order":1,"width":0,"height":0,"name":"","label":"楽曲を選択してください","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":140,"wires":[]},{"id":"31ef3178.b4136e","type":"ui_template","z":"59ce507c.eb576","group":"1cac9dd5.04a682","name":"","order":2,"width":0,"height":0,"format":"<input type=\"hidden\" name=\"abc\" value=\"10\">\n<table>\n　<tbody>\n　　<tr> <td>かえるのうた</td> <td><input type=\"radio\" name=\"v001\" value='10' Checked></td> </tr>\n　　<tr> <td>ねこふんじゃった</td> <td><input type=\"radio\" name=\"v001\" value='20'></td> </tr>\n　</tbody>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":130,"y":140,"wires":[["1a9beff6.e9962"]]},{"id":"cbc1025c.b7512","type":"comment","z":"59ce507c.eb576","name":"楽曲選択・開始画面","info":"","x":150,"y":40,"wires":[]},{"id":"cca21df0.59d3f","type":"comment","z":"59ce507c.eb576","name":"小節選択","info":"","x":120,"y":220,"wires":[]},{"id":"43980574.3670ac","type":"ui_template","z":"59ce507c.eb576","group":"1cac9dd5.04a682","name":"","order":7,"width":0,"height":0,"format":"　<input type=\"hidden\" name=\"abc\" value=\"10\">\n　<table>\n　　<tbody>\n　　　<tr> <td>8小節_1</td> <td><input type=\"radio\" ng-model=\"model_p\" name=\"v001\" value='10' checked></td> </tr>\n　　　<tr> <td>8小節_2</td> <td><input type=\"radio\" ng-model=\"model_p\" name=\"v001\" value='20'></td> </tr>\n　　　<tr> <td>8小節_3</td> <td><input type=\"radio\" ng-model=\"model_p\" name=\"v001\" value='30'></td> </tr>\n　　　<tr> <td>8小節_4</td> <td><input type=\"radio\" ng-model=\"model_p\" name=\"v001\" value='40'></td> </tr>\n　　</tbody>\n　</table>\n  <md-button ng-click=\"send({payload:model_p})\"> 演奏開始 {{model_p}}</md-button>\n\n<!--　<input type=\"submit\">-->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":120,"y":280,"wires":[["2b34f014.6c0c9"]]},{"id":"2b34f014.6c0c9","type":"ui_text","z":"59ce507c.eb576","group":"1cac9dd5.04a682","order":6,"width":0,"height":0,"name":"","label":"演奏するパートを選択してください","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":280,"wires":[]},{"id":"2e742db2.896ea2","type":"comment","z":"59ce507c.eb576","name":"楽曲選択","info":"","x":120,"y":100,"wires":[]},{"id":"a706c9a8.fa3218","type":"ui_text_input","z":"59ce507c.eb576","name":"","label":"","tooltip":"","group":"1cac9dd5.04a682","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":130,"y":340,"wires":[["655533c1.601f6c"]]},{"id":"655533c1.601f6c","type":"ui_text","z":"59ce507c.eb576","group":"1cac9dd5.04a682","order":4,"width":0,"height":0,"name":"","label":"楽曲のテンポを入力してください","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":340,"wires":[]},{"id":"1cac9dd5.04a682","type":"ui_group","z":"","name":"開始画面","tab":"20f2efc8.6d63f","disp":true,"width":"6","collapse":false},{"id":"20f2efc8.6d63f","type":"ui_tab","z":"","name":"練習評価システム","icon":"dashboard","order":1,"disabled":false,"hidden":false}]