node-red/sse2019-group2_result.json
[{"id":"d176ccbe.3513b","type":"tab","label":"採点画面","disabled":false,"info":""},{"id":"67971896.772ba8","type":"ui_ui_control","z":"d176ccbe.3513b","name":"","x":480,"y":640,"wires":[[]]},{"id":"4b742269.286acc","type":"template","z":"d176ccbe.3513b","name":"楽曲選択画面へ","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"tab\": \"select_music\",\n    \"group\": {\n        \"show\": [\n\n        ]\n    }\n}","output":"json","x":285.00353240966797,"y":639.4235820770264,"wires":[["67971896.772ba8"]]},{"id":"23a1dfd1.7796b","type":"ui_button","z":"d176ccbe.3513b","name":"","group":"c7bc8afb.08ba68","order":4,"width":0,"height":0,"passthru":true,"label":"楽曲選択へ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":100.99993896484375,"y":638.923583984375,"wires":[["4b742269.286acc"]]},{"id":"81aa73dd.ae55c","type":"ui_gauge","z":"d176ccbe.3513b","name":"成績","group":"c7bc8afb.08ba68","order":2,"width":"12","height":"6","gtype":"wave","title":"","label":"点","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910.5643157958984,"y":113.91667461395264,"wires":[]},{"id":"24ce650e.6661da","type":"inject","z":"d176ccbe.3513b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":115.00868225097656,"y":237.0017604827881,"wires":[["a9e80a19.6eb4d8"]]},{"id":"a9e80a19.6eb4d8","type":"template","z":"d176ccbe.3513b","name":"ファイルパスを記載","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/sse2019-group2/outputs/result.csv","output":"str","x":338.00867462158203,"y":177.0017547607422,"wires":[["cc7886d1.ae0598"]]},{"id":"6e6515c7.1813bc","type":"debug","z":"d176ccbe.3513b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":907.0087242126465,"y":383.0017080307007,"wires":[]},{"id":"c1696c0e.06b6a","type":"template","z":"d176ccbe.3513b","name":"chart_scatter.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js\"></script>\n    <script>\n        {{{js.javascriptfile1}}}\n    </script>\n\n    <title>chart of results</title>\n</head>\n<body>\n<!--ここにグラフが挿入されます-->\n<div style=\"width: 100%; height: 100%;\">\n    <canvas id=\"myChart\" style=\"width: 100%; height: auto;\"></canvas>\n</div>\n</body>\n</html>","output":"str","x":1110,"y":520,"wires":[["c333f0d8.bc895"]]},{"id":"c333f0d8.bc895","type":"http response","z":"d176ccbe.3513b","name":"","statusCode":"","headers":{},"x":1289.0001487731934,"y":520,"wires":[]},{"id":"b8719f74.9d93d","type":"http in","z":"d176ccbe.3513b","name":"","url":"chart_scatter","method":"get","upload":false,"swaggerDoc":"","x":711.5000114440918,"y":520.0000057220459,"wires":[["f29f3513.c82f28"]]},{"id":"f29f3513.c82f28","type":"template","z":"d176ccbe.3513b","name":"javascript","field":"js.javascriptfile1","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// 2) CSVから２次元配列に変換\nfunction csv2Array(str) {\n  var csvData = [];\n  var lines = str.split(\"\\n\");\n  for (var i = 0; i < lines.length; ++i) {\n    var cells = lines[i].split(\",\");\n    csvData.push(cells);\n  }\n  return csvData;\n}\n\nfunction drawBarChart(data) {\n  // 3)chart.jsのdataset用の配列を用意\n  var tmpLabels = [], tmpData1 = [], tmpData2 = [];\n  for (var row in data) {\n    tmpLabels.push(data[row][0])\n    tmpData1.push(data[row][1])\n    tmpData2.push(data[row][2])\n  };\n\n  // 4)chart.jsで描画\n  var ctx = document.getElementById(\"myChart\").getContext(\"2d\");\n  var myChart = new Chart(ctx, {\n    type: 'scatter',\n    data: {\n      labels: tmpLabels,\n      datasets: [\n        { label: \"Score\", data: tmpData1, backgroundColor: \"red\" },\n      ]\n    }\n  });\n}\n\nfunction main() {\n  // 1) ajaxでCSVファイルをロード\n\n  var req = new XMLHttpRequest();\n  var filePath = 'result.csv';\n  req.open(\"GET\", filePath, true);\n    // ファイル読み取りに成功したとき\n  req.onload = function() {\n    // 2) CSVデータ変換の呼び出し\n    data = csv2Array(req.responseText);\n    // 3) chart.jsデータ準備、4) chart.js描画の呼び出し\n    drawBarChart(data);\n  }\n  req.send(null);\n}\n\nmain();","output":"str","x":894.9913215637207,"y":508.442608833313,"wires":[["c1696c0e.06b6a"]]},{"id":"ca238701.cfecc8","type":"comment","z":"d176ccbe.3513b","name":"楽曲選択画面へ","info":"","x":106.56244659423828,"y":597.4218711853027,"wires":[]},{"id":"26a2ee3d.15dd92","type":"http in","z":"d176ccbe.3513b","name":"","url":"chart_bar","method":"get","upload":false,"swaggerDoc":"","x":699.9913215637207,"y":575.9427089691162,"wires":[["129a97fd.247678"]]},{"id":"129a97fd.247678","type":"template","z":"d176ccbe.3513b","name":"javascript2","field":"js.javascriptfile2","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// 2) CSVから２次元配列に変換\nfunction csv2Array(str) {\n  var csvData = [];\n  var lines = str.split(\"\\n\");\n  for (var i = 0; i < lines.length; ++i) {\n    var cells = lines[i].split(\",\");\n    csvData.push(cells);\n  }\n  return csvData;\n}\n\nfunction drawBarChart(data) {\n  // 3)chart.jsのdataset用の配列を用意\n  var tmpLabels = [], tmpData1 = [], tmpData2 = [];\n  for (var row in data) {\n    tmpLabels.push(data[row][0])\n    tmpData1.push(data[row][1])\n  };\n\n  // 4)chart.jsで描画\n  var ctx = document.getElementById(\"myChart\").getContext(\"2d\");\n  var myChart = new Chart(ctx, {\n    type: 'horizontalBar',\n    data: {\n      labels: tmpLabels,\n      datasets: [\n        { label: \"Score\", data: tmpData1, backgroundColor: \"rgba(200,30,30,0.4)\" },\n      ]\n    }\n  });\n}\n\nfunction main() {\n  // 1) ajaxでCSVファイルをロード\n\n  var req = new XMLHttpRequest();\n  var filePath = 'result.csv';\n  req.open(\"GET\", filePath, true);\n    // ファイル読み取りに成功したとき\n  req.onload = function() {\n    // 2) CSVデータ変換の呼び出し\n    data = csv2Array(req.responseText);\n    // 3) chart.jsデータ準備、4) chart.js描画の呼び出し\n    drawBarChart(data);\n  }\n  req.send(null);\n}\n\nmain();","output":"str","x":904.9913215637207,"y":568.442608833313,"wires":[["d114cfca.88435"]]},{"id":"d114cfca.88435","type":"template","z":"d176ccbe.3513b","name":"chart_bar.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js\"></script>\n    <script>\n        {{{js.javascriptfile2}}}\n    </script>\n\n    <title>Score</title>\n</head>\n<body>\n<!--ここにグラフが挿入されます-->\n<div style=\"width: 100%; height: 100%;\">\n    <canvas id=\"myChart\" style=\"width: 100%; height: auto;\"></canvas>\n</div>\n</body>\n</html>","output":"str","x":1093.9913330078125,"y":574.9427089691162,"wires":[["367af5ec.b31d5a"]]},{"id":"367af5ec.b31d5a","type":"http response","z":"d176ccbe.3513b","name":"","statusCode":"","headers":{},"x":1291.9913597106934,"y":575.9427089691162,"wires":[]},{"id":"b0e51d9.b5222e","type":"comment","z":"d176ccbe.3513b","name":"結果画面","info":"","x":88.00000762939453,"y":38.00000190734863,"wires":[]},{"id":"25464631.40b32a","type":"ui_template","z":"d176ccbe.3513b","group":"be9b6e25.4c89e","name":"タイトル","order":1,"width":0,"height":0,"format":"<h1><center>ピアノ演奏上達システム</center></h1>\n<h3><center>結果発表！</center></h3>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":88.66667938232422,"y":76.00000095367432,"wires":[[]]},{"id":"ed3f1d87.00fb6","type":"comment","z":"d176ccbe.3513b","name":"Chart画面の表示","info":"","x":700,"y":460,"wires":[]},{"id":"1fa5d1b0.9a365e","type":"template","z":"d176ccbe.3513b","name":"chart_line.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js\"></script>\n    <script>\n        {{{js.javascriptfile3}}}\n    </script>\n\n    <title>chart of results</title>\n</head>\n<body>\n<!--ここにグラフが挿入されます-->\n<div style=\"width: 100%; height: 100%;\">\n    <canvas id=\"myLineChart\" style=\"width: 100%; height: auto;\"></canvas>\n</div>\n</body>\n</html>","output":"str","x":1100.491310119629,"y":632.4426984786987,"wires":[["8beb64f3.57b7b8"]]},{"id":"8beb64f3.57b7b8","type":"http response","z":"d176ccbe.3513b","name":"","statusCode":"","headers":{},"x":1289.4914588928223,"y":632.4426984786987,"wires":[]},{"id":"ab1cfa7e.f8ed48","type":"http in","z":"d176ccbe.3513b","name":"","url":"chart_line","method":"get","upload":false,"swaggerDoc":"","x":701.9913215637207,"y":632.4427042007446,"wires":[["1aff7274.f6f9de"]]},{"id":"1aff7274.f6f9de","type":"template","z":"d176ccbe.3513b","name":"javascript3","field":"js.javascriptfile3","fieldType":"msg","format":"javascript","syntax":"mustache","template":"// 2) CSVから２次元配列に変換\nfunction csv2Array(str) {\n  var csvData = [];\n  var lines = str.split(\"\\n\");\n  for (var i = 0; i < lines.length; ++i) {\n    var cells = lines[i].split(\",\");\n    csvData.push(cells);\n  }\n  return csvData;\n}\n\nfunction drawLineChart(data) {\n  // 3)chart.jsのdataset用の配列を用意\n  var tmpLabels = [], tmpData1 = [], tmpData2 = [];\n  for (var row in data) {\n    tmpLabels.push(data[row][0])\n    tmpData1.push(data[row][1])\n    tmpData2.push(data[row][2])\n  };\n\n  // 4)chart.jsで描画\n  var ctx = document.getElementById(\"myLineChart\").getContext(\"2d\");\n  var myChart = new Chart(ctx, {\n    type: 'line',\n    data: {\n      labels: tmpLabels,\n      datasets: [\n        { label: \"Score\", \n          data: tmpData1, \n          backgroundColor: \"rgba(200,30,30,0.4)\",\n          fill: false\n        },\n\n      ]\n    }\n  });\n}\n\nfunction main() {\n  // 1) ajaxでCSVファイルをロード\n\n  var req = new XMLHttpRequest();\n  var filePath = 'result.csv';\n  req.open(\"GET\", filePath, true);\n    // ファイル読み取りに成功したとき\n  req.onload = function() {\n    // 2) CSVデータ変換の呼び出し\n    data = csv2Array(req.responseText);\n    // 3) chart.jsデータ準備、4) chart.js描画の呼び出し\n    drawLineChart(data);\n  }\n  req.send(null);\n}\n\nmain();","output":"str","x":884.4913291931152,"y":632.4427194595337,"wires":[["1fa5d1b0.9a365e"]]},{"id":"938f7845.45c1f8","type":"change","z":"d176ccbe.3513b","name":"score","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.score","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":715.666690826416,"y":151.33334732055664,"wires":[["81aa73dd.ae55c","8afa7a21.4fe138","6e6515c7.1813bc"]]},{"id":"d2895eb8.1f96d","type":"comment","z":"d176ccbe.3513b","name":"最終スコアを表示","info":"","x":118,"y":126,"wires":[]},{"id":"481e0412.e7e69c","type":"comment","z":"d176ccbe.3513b","name":"ファイルパスを記載","info":"","x":326.00000762939453,"y":121.00000381469727,"wires":[]},{"id":"8afa7a21.4fe138","type":"ui_template","z":"d176ccbe.3513b","group":"c7bc8afb.08ba68","name":"メッセージ","order":1,"width":0,"height":0,"format":"<h3><center>今回の成績は！？</center></h3>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930.6666889190674,"y":199.00000762939453,"wires":[["322104ac.b832bc"]]},{"id":"5fad273b.32c388","type":"ui_template","z":"d176ccbe.3513b","group":"e78dfa2c.dd22e8","name":"履歴画面(折れ線グラフ)へジャンプ１","order":4,"width":0,"height":0,"format":"<!--新しいタブでリンク先が開く-->\n<input type=\"button\" value=\"履歴（折れ線）\" onClick=\"window.open('../chart_line')\">\n\n<script type=\"text/javascript\">\nfunction win_open() {\n\twindow.open(\"../chart_line\",\"\",\"\"); \n}\n</script> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":480,"wires":[[]]},{"id":"a49bdd18.53e9b","type":"ui_template","z":"d176ccbe.3513b","group":"c7bc8afb.08ba68","name":"履歴画面（棒グラフ) へジャンプ２","order":5,"width":0,"height":0,"format":"<!--新しいタブでリンク先が開く-->\n<input type=\"button\" value=\"履歴（棒）\" onClick=\"window.open('../chart_bar')\">\n\n<script type=\"text/javascript\">\nfunction win_open() {\n\twindow.open(\"../chart_line\",\"\",\"\"); \n}\n</script> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":160.33334350585938,"y":526.0000829696655,"wires":[[]]},{"id":"94e06e81.ce0d4","type":"comment","z":"d176ccbe.3513b","name":"チャートのリンク表示","info":"","x":119.33332824707031,"y":438.33333110809326,"wires":[]},{"id":"db7371d6.36414","type":"csv to json ext","z":"d176ccbe.3513b","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"42a7101b.25aa5","type":"csv to json ext","z":"d176ccbe.3513b","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"aed8706e.69e24","type":"csv to json ext","z":"d176ccbe.3513b","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"26427595.54856a","type":"csv to json ext","z":"d176ccbe.3513b","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":319.95833253860474,"wires":[[]]},{"id":"82879e14.b937b","type":"csv to json ext","z":"d176ccbe.3513b","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":false,"includeColumns":"","headers":"","debug":false,"x":-124.4340410232544,"y":471.6250500679016,"wires":[[]]},{"id":"cc7886d1.ae0598","type":"csv to json ext","z":"d176ccbe.3513b","name":"","version":"0.1","source":"filename","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":false,"trim":false,"noheader":true,"includeColumns":"","headers":"\"date\",\"score\"","debug":false,"x":545.0086822509766,"y":178.00171566009521,"wires":[["938f7845.45c1f8"]]},{"id":"83dbed9a.c5c83","type":"ui_ui_control","z":"d176ccbe.3513b","name":"","x":480,"y":360,"wires":[["a9e80a19.6eb4d8"]]},{"id":"73e3292.33be1d8","type":"template","z":"d176ccbe.3513b","name":"結果画面へ","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"tab\": \"Result\",\n    \"group\": {\n        \"show\": [\n\n        ]\n    }\n}","output":"json","x":299.0035095214844,"y":360.423583984375,"wires":[["83dbed9a.c5c83"]]},{"id":"3ea290f.1b7eb7","type":"ui_button","z":"d176ccbe.3513b","name":"","group":"bb811f66.e5561","order":6,"width":0,"height":0,"passthru":true,"label":"結果発表！","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":102.99993896484375,"y":359.923583984375,"wires":[["73e3292.33be1d8"]]},{"id":"fa3aebfd.e3a928","type":"comment","z":"d176ccbe.3513b","name":"録音画面のボタンをここで使う","info":"","x":150,"y":320,"wires":[]},{"id":"322104ac.b832bc","type":"ui_template","z":"d176ccbe.3513b","group":"c7bc8afb.08ba68","name":"メッセージ2","order":3,"width":0,"height":0,"format":"<h3><center>よくできました！今度は チューリップ を弾いてみよう！</center></h3>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":929.3828411102295,"y":254.04495906829834,"wires":[[]]},{"id":"5bf263d6.e11adc","type":"ui_template","z":"d176ccbe.3513b","group":"e78dfa2c.dd22e8","name":"（分岐がうまくいかない）","order":5,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n    <head>\n    <title>Introduction to JavaScript</title>\n    </head>\n    <body>\n        <h2>JavaScriptの条件分岐</h2>\n        <p id=\"xxx\"></p>\n        <script>\n            var point= Number('100');\n            if (point >= 80) {\n                document.getElementById(\"xxx\").innerHTML = \"合格です。\";\n            } else {\n                document.getElementById(\"xxx\").innerHTML = \"不合格。\";\n            }\n        </script>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":975.384765625,"y":312.044921875,"wires":[[]]},{"id":"c7bc8afb.08ba68","type":"ui_group","z":"","name":"結果表示","tab":"35a28573.19308a","order":2,"disp":false,"width":"12","collapse":false},{"id":"be9b6e25.4c89e","type":"ui_group","z":"","name":"タイトル","tab":"35a28573.19308a","order":1,"disp":false,"width":"12","collapse":false},{"id":"e78dfa2c.dd22e8","type":"ui_group","z":"","name":"非表示","tab":"bd58f987.8bdde8","disp":true,"width":"6","collapse":false},{"id":"bb811f66.e5561","type":"ui_group","z":"","name":"録音画面","tab":"13b9fc08.a11114","disp":false,"width":"12","collapse":false},{"id":"35a28573.19308a","type":"ui_tab","z":"","name":"Result","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"bd58f987.8bdde8","type":"ui_tab","z":"","name":"Hidden","icon":"dashboard","disabled":false,"hidden":false},{"id":"13b9fc08.a11114","type":"ui_tab","z":"","name":"Recording","icon":"dashboard","order":2,"disabled":false,"hidden":false}]